obj
Bin
bin
Obj
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.ReSharper
*.suo
*.cache
~$*
Thumbs.db
ClientBin
Debug
csx
PerfLogs
src/.vs/*
project.lock.json
restore.dg
*.xproj.user
src/starter/Properties/
reporting/packages
project.assets.json
reporting/.vs/Difs.ReportRunner/v15/sqlite3/storage.ide
*.lock
